<!DOCTYPE html>
<html>
  <head>
    <title>Fortune Teller</title>
  </head>

  <body>
    <h1>welcome to the fortune teller!</h1>
    <p>enter your name, please!</p>
    <form method = POST>
      <input type="text" name="user">
      <br>
      <input type="submit" value="GET YOUR FORTUNE!">
      </form>
  </body>
</html>