<!DOCTYPE html>
<html>
  <head>
    <title>results</title>
  </head>
  <body>
  <h1>come get y'all results...*sips tea*</h1>
  <h3>hi, <%=@the_user%>! here is your fortune: <%=@the_fortune%> </h3>
  <img src="https://media.giphy.com/media/n60aPuXZLJNiU/giphy.gif">
  </body>
</html>